/* _lcid="1033" _version="16.0.5312"
_LocalBinding */
.ms-formtoolbar{
text-decoration:none;
/* [ReplaceColor(themeColor:"Hyperlink")] */ color:#0072c6;
}
.ms-formtoolbar{
margin-bottom:7px;
}
.ms-formtoolbar td{
padding:0px;
vertical-align:top;
}
.ms-delAttachments{
white-space:nowrap;
}
.ms-rtetoolbarmenu
{
background-color:#f3f3f3;
color:#000000;
border:#c4c4c4;
font-family:verdana;
font-size:8pt;
margin:0px;
}
.ms-separator
{
color:#c4c4c4;
font-size:10pt;
}
td.ms-rtetoolbarunsel{
padding:3px;
}
td.ms-rtetoolbarsel{
padding:2px;
border:solid 1px #89724f;
background-image:url("/_layouts/15/images/rtebnsel.gif?rev=43");
background-repeat:repeat-x;
}
.ms-rtetoolbardis{
filter:alpha(opacity=25);-ms-filter:"alpha(opacity=25)";opacity:0.25;
cursor:default;
}
a.ms-rtetoolbardis{
cursor:default;
}
td.ms-rtetoolbarhov
{
padding:2px;
border:solid 1px #d2b47a;
background-image:url("/_layouts/15/images/rtebnhov.gif?rev=43");
background-repeat:repeat-x;
background-color:#fff699;
cursor:pointer;
color:#000000;
}
.ms-gridT1
{
/* [ReplaceFont(themeFont:"body")] */ font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
text-align:left;
font-size:1em;
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
width:190px;
}
.ms-gridCol{
/* [ReplaceFont(themeFont:"body")] */ font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
text-align:center;
font-size:1em;
/* [ReplaceColor(themeColor:"DisabledText")] */ color:#b1b1b1;
width:90px;
}
.ms-formdescription a{
/* [ReplaceColor(themeColor:"Hyperlink")] */ color:#0072c6;
text-decoration:none;
}
.ms-informationbar{
background-color:#fff9de;
border:1px solid #ffdf88;
}
.ms-informationbar a:link{
color:#0072BC;
}
.ms-informationbar td{
color:#000000;
}
.ms-radiotext{
cursor:default;
text-align:left;
height:19px;
}
.ms-gridtext{
cursor:default;
text-align:right;
height:19px;
}
.ms-formbodysurvey{
vertical-align:top;
background:none;
border-top:none;
padding:5px 8px 15px 8px;
}
.ms-formline{
/* [ReplaceColor(themeColor:"SubtleLines")] */ border-top:1px solid #c6c6c6;
padding-right:8px;
padding-left:8px;
}
.ms-formdescription
{
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
}
.ms-formfieldcontainer
{
}
.ms-formfieldlabelcontainer
{
margin:4px 4px 0px 4px;
}
div.ms-formfieldlabelcontainer span.ms-formfieldlabel
{
font-weight:normal;
text-align:left;
/* [ReplaceColor(themeColor:"SubtleBodyText")] */ color:#777;
padding:1px 4px 1px 4px;
/* [ReplaceColor(themeColor:"SubtleLines")] */ border:1px solid #c6c6c6;
height:18px;
}
.ms-formfieldvaluecontainer
{
/* [ReplaceColor(themeColor:"SubtleLines")] */ border:1px solid #c6c6c6;
margin-left:4px;
margin-right:4px;
margin-bottom:4px;
padding:5px;
}
.ms-formrecurrence{
font-weight:normal;
text-align:left;
vertical-align:top;
}
.ms-fileinput{
}
.ms-longfileinput{
width:386px;
}
.ms-longer{
width:411px;
}
.ms-rtelong{
width:384px;
}
.ms-rtelonger{
width:409px;
}
.ms-rtefield{
min-width:384px;
}
.ms-rtefield,.ms-rtefield2{
padding:2px;
}
.ms-rtelong,.ms-rtelonger{
/* [ReplaceColor(themeColor:"SubtleLines")] */ border:1px solid #c6c6c6;
}
.ms-lookuptypeindropdown
{
width:20em;
}
.ms-lookuptypeintextbox
{
width:20em;
vertical-align:middle;
}
.ms-attachUploadButtons
{
text-align:right;
}
img.ms-button{
cursor:pointer;
}
.ms-ppCellContainerErr
{
border-style:dashed;
border-width:1px;
/* [ReplaceColor(themeColor:"ErrorText")] */ border-color:#bf0000;
}
.ms-ppCellContainer
{
border-style:none;
}
div.ms-inputuserfield a
{
/* [ReplaceColor(themeColor:"BodyText")] */ color:#444;
text-decoration:none;
font-weight:normal;
font-style:normal;
}
div.ms-inputuserfield
{
padding-left:1px;
padding-top:2px;
}
.ms-dtinput,.ms-dttimeinput{
vertical-align:middle;
padding:0px 4px 0px 0px;
}
.ms-dttimeinput{
direction:ltr;
}
.ms-detailsview{
/* [ReplaceColor(themeColor:"SubtleLines")] */ border:1px solid #c6c6c6;
text-align:left;
}
.ms-detailsview td{
padding:4px;
}
.ms-long{
width:386px;
}
.ms-usereditor{
width:386px;
}
.ms-usereditorinline{
width:186px;
}
.clip16x16
{
position:relative;
overflow:hidden;
width:16px;
height:16px;
}
.clip13x13
{
position:relative;
overflow:hidden;
width:13px;
height:13px;
}
.clip16x16 img,.clip16x16 input,.clip13x13 img,.clip13x13 input
{
position:absolute;
}
.ms-rtebold
{
top:0px;
left:0px;
}
.ms-rtecopy
{
top:0px;
left:-16px;
}
.ms-rtecut
{
top:-16px;
left:0px;
}
.ms-rtedrow
{
top:-16px;
left:-16px;
}
.ms-rtefntsz
{
top:0px;
left:-32px;
}
.ms-rteicol
{
top:-16px;
left:-32px;
}
.ms-rteimg
{
top:-32px;
left:0px;
}
.ms-rteital
{
top:-32px;
left:-16px;
}
.ms-rtelnk
{
top:-32px;
left:-32px;
}
.ms-rteltr
{
top:0px;
left:-48px;
}
.ms-rtenlst
{
top:-16px;
left:-48px;
}
.ms-rtertal
{
top:-32px;
left:-48px;
}
.ms-rtescell
{
top:-48px;
left:0px;
}
.ms-rtetxclr
{
top:-48px;
left:-16px;
}
.ms-rteundl
{
top:-48px;
left:-32px;
}
.ms-rteuidt
{
top:-48px;
left:-48px;
}
.ms-rtesrced
{
top:0px;
left:-64px;
}
.ms-rtertl
{
top:-16px;
left:-64px;
}
.ms-rtepaste
{
top:-32px;
left:-64px;
}
.ms-rtemcell
{
top:-48px;
left:-64px;
}
.ms-rteltal
{
top:-64px;
left:0px;
}
.ms-rteitbl
{
top:-64px;
left:-16px;
}
.ms-rteirow
{
top:-64px;
left:-32px;
}
.ms-rteidt
{
top:-64px;
left:-48px;
}
.ms-rteicell
{
top:-64px;
left:-64px;
}
.ms-rtefnt
{
top:0px;
left:-80px;
}
.ms-rtectral
{
top:-16px;
left:-80px;
}
.ms-rteclear
{
top:-32px;
left:-80px;
}
.ms-rteblst
{
top:-48px;
left:-80px;
}
.ms-rtebkclr
{
top:-64px;
left:-80px;
}
.ms-rtednar
{
top:-80px;
left:0px;
}
.ms-relateditems-core
{
width:350px;
position:relative;
}
.ms-relateditems-title
{
margin-left:20px;
}
.ms-relateditems-item
{
position:relative;
height:16px;
overflow:hidden;
margin-bottom:8px;
}
.ms-relateditems-addurlbuttons
{
clear:both;
float:right;
}
.ms-relateditems-deletelink
{
position:absolute;
right:0px;
top:0px;
}
.ms-relateditems-showmore-span,.ms-relateditems-showless-span
{
position:relative;
display:inline-block;
overflow:hidden;
vertical-align:bottom;
top:1px;
}
.ms-relateditems-showmore-icon,.ms-relateditems-showless-icon
{
position:absolute;
}
.ms-relateditems-showmore-span
{
height:16px;
width:16px;
}
.ms-relateditems-showmore-icon
{
left:-73px;
top:-238px;
}
.ms-relateditems-showless-span
{
height:16px;
width:16px;
}
.ms-relateditems-showless-icon
{
left:-197px;
top:-138px;
}
